<h1>{{ 'PAGES.HOME.TITLE' | translate }}</h1>

<br>
<!-- TRAD TEST : {{ 'HELLO' | translate }} -->


<h2>{{ 'PAGES.HOME.SUBTITLE' | translate }}</h2>

<p>{{ 'PAGES.HOME.DESCRIPTION' | translate }}
</p>

<button mat-button  routerLink="/user/login">{{ 'PAGES.HOME.BT.CONNECTION' | translate }}</button>

<!-- 
<h2>Todo-list</h2>
  <ul>
      <li class="ok">Mettre en place environnement Angular5, Node8, Angular-Material2</li>
      <li class="ok">Créer des messages prédéfinis</li>
      <li class="ok">Créer une mini-interface rapide pour gérer</li>
      <li class="ok">Mettre en place une authentification PFS</li>
      <li class="pok">Important : Ajout du token dans l'URL et check côté node si le token est valide</li>
      
      <li class="ok">Mettre en place un AuthGuard pour limiter les accès non authorisés à certaines pages</li>
      <li class="ok">Créer une BDD pour stocker les contacts, affectations</li>
      <li class="ok">Créer une BDD pour stocker les messages prédéfinis + dynamiser les messages prédéfinis dans le formulaire</li>
      <li class="ok">Côté nodeJS, faire mini-api pour accéder aux données</li>
      <li class="moyen">Côté nodeJS, optimiser le server app.js (faire plusieurs fichiers, ordonner un peu le bordel)</li>

      <li class="ok">BUG : gérer les stripslashes côté nodeJS</li>

      <li class="ok">Faire une interface pour gérer les contacts</li>
      <ul>
      <li class="ok">Pouvoir afficher une liste de contacts</li>
      <li class="ok">Pouvoir ajouter un contact</li>      
      <li class="moyen">Ajouter une consigne pour les numéros internationnaux (mettre au format +0032....)</li>      
      <li class="ok">Pouvoir éditer un contact</li>      
      <li class="moyen">Tri et pagination (+ filtres)</li>      
      <li class="ok">Pouvoir supprimer un contact</li>
      <ul>
        <li class="moyen">Eventuellement faire un toaster pour dire que ça a bien été supprimé</li>
      </ul>
      <li class="ok">Remplir la table avec des vraies données</li>      
    </ul>

      <li class="ok">Faire une interface pour gérer les sites</li>
      <ul>
        <li class="ok">Création de la table</li>
        <li class="ok">Pouvoir afficher une liste de sites (éventuellemnet tri + pagination...)</li>
        <li class="moyen">Tri et pagination (+ filtres)</li>      
        <li class="ok">Pouvoir ajouter un site</li>      
        <li class="ok">Pouvoir éditer un site</li>      
        <li class="ok">Pouvoir supprimer un site</li>      
        <li class="ok">Remplir la table avec des vraies données</li>         

      </ul>

      <li class="ok">Pouvoir créer des listes de contacts</li>
      <ul>
        <li class="ok">Mettre à jour le rendu graphique pas top</li>
      </ul>
      <li class="ok">Pouvoir supprimer des listes de contacts</li>
      <ul>
        <li class="moyen">Eventuellement faire un toaster pour dire que ça a bien été supprimé</li>
      </ul>


      <li class="ok">Faire une interface pour gérer les messages prédéfinis</li>
      <ul>
        <li class="ok">Création de la table</li>
        <li class="ok">Pouvoir afficher une liste de messages (éventuellemnet tri + pagination...)</li>
        <li class="moyen">Tri et pagination (+ filtres)</li>      
        <li class="ok">Pouvoir ajouter un message</li>      
        <li class="ok">Pouvoir éditer un message</li>      
        <li class="ok">Pouvoir supprimer un message prédéfini</li>      
        <li class="moyen">Données à vérifier et faire valider par Manu / Bruno / Equipe</li>      
      </ul>



      <li class="ok">Test envoi d'un SMS avec 1 contact</li>
      <li class="ok">Mettre à jour les numéros de téléphone à la volée avec les +33...</li>
      <li class="ok">Ne pas ajouter les contacts non actifs à la liste des destinataires finaux</li>
      <li class="ok">Test envoi d'un SMS avec 1 liste de contacts</li>
      <li class="ok">Importer les données du sheets vers ma base</li>
      <li class="ok">Simuler envoi SMS, tester sur une liste avec beaucoup de SMS, voir si on fait un appel SMS par numéro, ou si on coupe la liste en groupes de 20 numéros par ex.</li>
      <li class="moyen">Voir les statuts (horodatage) si SMS envoyé / bien envoyé ... ? => stockage des données dans une table sms_histo</li>
      
  </ul>
-->
<!--
<hr>
      Liste des contacts récupérés sur Sheets :
      <ul>
          <li *ngFor="let contact of listeContacts">
              {{contact['gsx$prénom']['$t']}} 
              {{contact['gsx$numérodetéléphone']['$t']}} 

              

          </li>
      </ul>
<br><br>
-->