<h1>{{ 'PAGES.VIEW.ADD.TITLE' | translate }}</h1>
<br>


<button mat-raised-button  routerLink="/views/elements">
  <i class="material-icons">arrow_back</i> {{ 'CORE.BUTTON.BACK' | translate }}
</button>
<br><br>
<br><br>
Formulaire ajout nouvelle vue 
<div class="row">
  <div class="col-md-8">
<form  [formGroup]="addViewForm"  (ngSubmit)="onSubmit()">


   <mat-form-field  class="example-full-width">      
        <input matInput id="name" formControlName="name" placeholder="{{ 'PAGES.VIEW.ADD.FIELD.TITLE.PLACEHOLDER' | translate }}"  [(ngModel)]="name" required>
    </mat-form-field><br>

    <br>


    <br>

<div class="element"  dnd-droppable class="panel panel-info" (onDropSuccess)="addToTags($event)">

    <div class="panel-heading">Déposez les tags ici pour filtrer</div>
    <div class="panel-body">
    Tags : 


    <span *ngFor="let tag of selectedTags; let i = index;">

        <tagelement 
          [label]="tag.name"
          [bgcolor]="tag.category.color"
          [tag_id]="tag.id"
          (deleteTag)='deleteTag(tag.id)'
        ></tagelement>

    </span>
    <br>
  </div>
</div>




<!--
<div *ngFor="let tag of selectedTags; let i = index"  id="tag.id" [style.background-color]=tag.category.color class="tagelement">{{tag.name}} <a (click)="deleteTagAffectation(tag, i)">Supprimer</a></div>
    -->


 <!--        <tagelement  *ngFor="let tag of selectedTags; let i = index" 
          [id]="tag.tag_id"
          [post_id]="-1"
          [label]="tag.tag_name"
          [bgcolor]="tag.cat_color"
        ></tagelement>
-->
      
    <!-- Tags selectionnés : <div *ngFor="tag in selectedTags">{{tag.tag_name}} | </div> -->
    <br>
    <br>
    <br>


      <button     mat-button type="submit" 
                  mat-raised-button 
                  class="button-action"
                  [disabled]="!addViewForm.valid">
                  <i class="material-icons">update</i> {{ 'PAGES.VIEW.ADD.BT.ADD' | translate }}
      </button>
</form>
  </div>
  <div class="col-md-4">
    Aperçu des résultats <br>
    <br>
    XXXX résultats sont filtrés par cette vue<br>
    <br>
    1ers résultats : <br>
    xxxxxxxxxxxx<br>
    xxxxxxxxxxxx<br>
    xxxxxxxxxxxx<br>
    xxxxxxxxxxxx<br>
    
  </div>
</div>