<h1>Ajouter un contact</h1>
<br>


<button mat-raised-button  routerLink="/contacts">
  <i class="material-icons">arrow_back</i> Retour (annuler)
</button>
<br><br>
<br><br>



<div class="row">
  <div class="col-md-6">    

<form  [formGroup]="addContactForm"  (ngSubmit)="onSubmit()">
   <mat-form-field  class="example-full-width">      
        <input matInput id="nom" formControlName="nom" placeholder="Nom"  [(ngModel)]="nom" required>
    </mat-form-field><br>

   <mat-form-field  class="example-full-width">      
        <input matInput id="prenom" formControlName="prenom" placeholder="Prénom"  [(ngModel)]="prenom" required>
    </mat-form-field><br>


<mat-form-field>
  <mat-select  id="role_id" formControlName="role_id" placeholder="Rôle">
    <mat-option *ngFor="let role of roles" [value]="role.id">
      {{ role.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field>
  <mat-select  id="site_id" formControlName="site_id" placeholder="Site">
    <mat-option *ngFor="let site of sites" [value]="site.id">
      {{ site.code_site }} - {{ site.ville }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

   <mat-form-field  class="example-full-width">      
        <input matInput id="telephone" formControlName="telephone" placeholder="N° de téléphone"  [(ngModel)]="telephone" required>
        <mat-hint align="start"><strong>
        - Les espaces, points et virgules sont acceptés (On peut donc saisir : 06 12 34 56 78 / 06.12.34.56.78 / 0612345678 / +33612345678 => tout sera reformatté lors de l'envoi du SMS en : +33612345678)<br>
        - Pour les numéros internationaux, saisir le numéro commençant par '+' par ex : +32612345678 / +32 6 123 456 78, etc.</strong> 
        </mat-hint>
    </mat-form-field><br><br><br><br>


      <mat-slide-toggle 
          class="example-margin"
          [checked]="checked"
         
           formControlName="actif"
           [(ngModel)]="actif">
        Contact actif (si actif, il recevra les SMS)
      </mat-slide-toggle> 
      <br>
      <br>

      <button     mat-button type="submit" 
                  mat-raised-button 
                  class="button-action"
                  [disabled]="!addContactForm.valid">
                  <i class="material-icons">update</i> Ajouter
      </button>


</form> 

  </div>
  
  <div class="col-md-6">

  </div>
</div>



